* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: black;
}

a {
  text-decoration: none;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.6rem;
}

.hidden {
  display: none;
}
